.container {
    background-color: pink;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    flex-wrap: wrap;
}

.hr {
    width: 40px;
    display: none;
}

.nav-links-div li {
    list-style: none;
}

.nav-links-div {
    font-size: 25px;
}

.nav-links-div li a {
    text-decoration: none;
}

.navLinks {
    padding: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.9;
    font-size: 25px;
    font-weight: bold;
}

.nav-links-div ul {
    display: inline-flex;
}

@media screen and (max-width: 500px) {
    .hr {
        display: block;
    }

    .nav-links-div {
        font-size: 25px;
        display: none;
        width: 100%;
    }

    .ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .navLinks {
        height: auto;
        display: flex;
        align-items: center;
        margin-left: 90px;
    }

}

.nav-links-div li :hover {
    background-color: brown;
}